* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: lato;
}

.header3 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    margin: 0 70px;
}

.one {
    padding: 10px;
    color: rgba(128, 128, 128, 0.764);
    font-size: 1em;
    display: flex;
    align-items: center;
}

.two {
    margin: 10px;
    background: #1E90FF;
    color: white;
    height: 40px;
    width: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1em;
    border-radius: 5px;
}

